*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif !important;
  }
  
  a,
  a:hover{
    text-decoration: none !important;
  }
  
  li{
    padding: 0px !important;
    margin: 0px !important;
  }
  
  ul{
    list-style: none !important;
    margin: 0px !important;
    padding: 0px !important;
  } 

  img{
    max-width: 100%;
  }